<?xml version="1.0"?>
<config>
	<engine>
		<title>My platformer game</title>
		<maxFrameDuration value="16" />
	</engine>
	<render>
		<vsync value="false" />
	</render>
	<window>
		<resolution width="1280" height="640" scale="2" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<save>
		<player x="875" y="206" />
		<enemies>
			<enemy name="walkingEnemy1" x="0" y="0" />
			<enemy name="walkingEnemy2" x="0" y="0" />
			<enemy name="flyingEnemy1" x="0" y="0" />
			<enemy name="flyingEnemy2" x="0" y="0" />
			<enemy name="walkingEnemy1" x="0" y="0" />
			<enemy name="walkingEnemy2" x="0" y="0" />
			<enemy name="flyingEnemy1" x="0" y="0" />
			<enemy name="flyingEnemy2" x="0" y="0" />
			<enemy name="walkingEnemy1" x="0" y="0" />
			<enemy name="walkingEnemy2" x="0" y="0" />
			<enemy name="flyingEnemy1" x="-2.14748365e+09" y="-2.14748365e+09" />
			<enemy name="flyingEnemy2" x="-2.14748365e+09" y="-2.14748365e+09" />
			<enemy name="walkingEnemy1" x="0" y="0" />
			<enemy name="walkingEnemy2" x="0" y="0" />
			<enemy name="flyingEnemy1" x="-2.14748365e+09" y="-2.14748365e+09" />
			<enemy name="flyingEnemy2" x="-2.14748365e+09" y="-2.14748365e+09" />
			<enemy name="walkingEnemy1" x="1274" y="193" />
			<enemy name="walkingEnemy2" x="2234" y="34" />
			<enemy name="flyingEnemy1" x="2579" y="208" />
			<enemy name="flyingEnemy2" x="574" y="216" />
			<enemy name="walkingEnemy2" x="0" y="0" />
			<enemy name="flyingEnemy1" x="0" y="-2.14748365e+09" />
			<enemy name="flyingEnemy2" x="0" y="-2.14748365e+09" />
			<enemy name="walkingEnemy2" x="0" y="0" />
			<enemy name="flyingEnemy1" x="0" y="-2.14748365e+09" />
			<enemy name="flyingEnemy2" x="0" y="-2.14748365e+09" />
			<enemy name="walkingEnemy2" x="0" y="-2.14748365e+09" />
			<enemy name="flyingEnemy1" x="0" y="-2.14748365e+09" />
			<enemy name="flyingEnemy2" x="0" y="-2.14748365e+09" />
			<enemy name="walkingEnemy2" x="2234" y="34" />
			<enemy name="flyingEnemy1" x="2579" y="208" />
			<enemy name="flyingEnemy2" x="574" y="216" />
			<enemy name="walkingEnemy1" x="1274" y="193" />
			<enemy name="walkingEnemy2" x="2234" y="34" />
			<enemy name="flyingEnemy1" x="2579" y="208" />
			<enemy name="flyingEnemy2" x="574" y="216" />
		</enemies>
	</save>
	<scene>
		<map path="Assets/Maps/" name="newnocandymap.tmx" />
		<entities>
			<player x="100" y="0" w="32" h="48" life="10" texture="Assets/Textures/player/witch.png">
				<animations>
					<idle loop="true" speed="0.075">
						<frame x="0" y="0" w="32" h="48" />
						<frame x="32" y="0" w="32" h="48" />
						<frame x="64" y="0" w="32" h="48" />
						<frame x="96" y="0" w="32" h="48" />
						<frame x="128" y="0" w="32" h="48" />
						<frame x="160" y="0" w="32" h="48" />
					</idle>
					<walking loop="true" speed="0.1">
						<frame x="0" y="48" w="32" h="48" />
						<frame x="32" y="48" w="32" h="48" />
						<frame x="64" y="48" w="32" h="48" />
						<frame x="96" y="48" w="32" h="48" />
						<frame x="128" y="48" w="32" h="48" />
						<frame x="160" y="48" w="32" h="48" />
						<frame x="192" y="48" w="32" h="48" />
						<frame x="224" y="48" w="32" h="48" />
					</walking>
					<attack loop="false" speed="0.075">
						<frame x="0" y="96" w="48" h="48" />
						<frame x="48" y="96" w="48" h="48" />
						<frame x="96" y="96" w="48" h="48" />
						<frame x="144" y="96" w="48" h="48" />
						<frame x="192" y="96" w="48" h="48" />
					</attack>
					<jumping loop="false" speed="0.2">
						<frame x="0" y="144" w="32" h="48" />
						<frame x="32" y="144" w="32" h="48" />
						<frame x="64" y="144" w="32" h="48" />
						<frame x="96" y="144" w="32" h="48" />
						<frame x="128" y="144" w="32" h="48" />
						<frame x="160" y="144" w="32" h="48" />
						<frame x="192" y="144" w="32" h="48" />
						<frame x="224" y="144" w="32" h="48" />
						<frame x="256" y="144" w="32" h="48" />
					</jumping>
					<damage loop="false" speed="0.075">
						<frame x="0" y="192" w="32" h="48" />
						<frame x="32" y="192" w="32" h="48" />
						<frame x="64" y="192" w="32" h="48" />
					</damage>
					<death loop="false" speed="0.075">
						<frame x="0" y="240" w="32" h="48" />
						<frame x="32" y="240" w="32" h="48" />
						<frame x="64" y="240" w="32" h="48" />
						<frame x="96" y="240" w="32" h="48" />
						<frame x="128" y="240" w="32" h="48" />
						<frame x="160" y="240" w="32" h="48" />
						<frame x="192" y="240" w="32" h="48" />
						<frame x="224" y="240" w="32" h="48" />
						<frame x="256" y="240" w="32" h="48" />
						<frame x="288" y="240" w="32" h="48" />
						<frame x="320" y="240" w="32" h="48" />
						<frame x="352" y="240" w="32" h="48" />
					</death>
				</animations>
			</player>
			<enemies>
				<enemy name="walkingEnemy1" Flyingtype="false" x="1250" y="40" w="48" h="48" life="4" damage="2" texture="Assets/Textures/enemies/walkingEnemy.png" gravity="true">
					<animations>
						<idle loop="true" speed="0.075">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
							<frame x="144" y="0" w="48" h="48" />
							<frame x="192" y="0" w="48" h="48" />
							<frame x="240" y="0" w="48" h="48" />
							<frame x="288" y="0" w="48" h="48" />
							<frame x="336" y="0" w="48" h="48" />
						</idle>
						<moving loop="true" speed="0.075">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
							<frame x="240" y="48" w="48" h="48" />
							<frame x="288" y="48" w="48" h="48" />
							<frame x="336" y="48" w="48" h="48" />
							<frame x="384" y="48" w="48" h="48" />
							<frame x="432" y="48" w="48" h="48" />
						</moving>
						<attack loop="false" speed="0.075">
							<frame x="0" y="96" w="48" h="48" />
							<frame x="48" y="96" w="48" h="48" />
							<frame x="96" y="96" w="48" h="48" />
							<frame x="144" y="96" w="48" h="48" />
							<frame x="192" y="96" w="48" h="48" />
							<frame x="240" y="96" w="48" h="48" />
							<frame x="288" y="96" w="48" h="48" />
							<frame x="336" y="96" w="48" h="48" />
							<frame x="384" y="96" w="48" h="48" />
							<frame x="432" y="96" w="48" h="48" />
							<frame x="480" y="96" w="48" h="48" />
						</attack>
						<damage loop="false" speed="0.075">
							<frame x="0" y="144" w="48" h="48" />
							<frame x="48" y="144" w="48" h="48" />
							<frame x="96" y="144" w="48" h="48" />
							<frame x="144" y="144" w="48" h="48" />
						</damage>
						<death loop="false" speed="0.075">
							<frame x="0" y="192" w="64" h="48" />
							<frame x="64" y="192" w="64" h="48" />
							<frame x="128" y="192" w="64" h="48" />
							<frame x="192" y="192" w="64" h="48" />
							<frame x="256" y="192" w="64" h="48" />
							<frame x="320" y="192" w="64" h="48" />
							<frame x="384" y="192" w="64" h="48" />
							<frame x="448" y="192" w="64" h="48" />
							<frame x="512" y="192" w="64" h="48" />
							<frame x="576" y="192" w="64" h="48" />
							<frame x="640" y="192" w="64" h="48" />
							<frame x="704" y="192" w="64" h="48" />
						</death>
					</animations>
				</enemy>
				<enemy name="walkingEnemy2" Flyingtype="false" x="2210" y="10" w="48" h="48" life="4" damage="2" texture="Assets/Textures/enemies/walkingEnemy.png" gravity="false">
					<animations>
						<idle loop="true" speed="0.075">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
							<frame x="144" y="0" w="48" h="48" />
							<frame x="192" y="0" w="48" h="48" />
							<frame x="240" y="0" w="48" h="48" />
							<frame x="288" y="0" w="48" h="48" />
							<frame x="336" y="0" w="48" h="48" />
						</idle>
						<moving loop="true" speed="0.075">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
							<frame x="240" y="48" w="48" h="48" />
							<frame x="288" y="48" w="48" h="48" />
							<frame x="336" y="48" w="48" h="48" />
							<frame x="384" y="48" w="48" h="48" />
							<frame x="432" y="48" w="48" h="48" />
						</moving>
						<attack loop="false" speed="0.075">
							<frame x="0" y="96" w="48" h="48" />
							<frame x="48" y="96" w="48" h="48" />
							<frame x="96" y="96" w="48" h="48" />
							<frame x="144" y="96" w="48" h="48" />
							<frame x="192" y="96" w="48" h="48" />
							<frame x="240" y="96" w="48" h="48" />
							<frame x="288" y="96" w="48" h="48" />
							<frame x="336" y="96" w="48" h="48" />
							<frame x="384" y="96" w="48" h="48" />
							<frame x="432" y="96" w="48" h="48" />
							<frame x="480" y="96" w="48" h="48" />
						</attack>
						<damage loop="false" speed="0.075">
							<frame x="0" y="144" w="48" h="48" />
							<frame x="48" y="144" w="48" h="48" />
							<frame x="96" y="144" w="48" h="48" />
							<frame x="144" y="144" w="48" h="48" />
						</damage>
						<death loop="false" speed="0.075">
							<frame x="0" y="192" w="64" h="48" />
							<frame x="64" y="192" w="64" h="48" />
							<frame x="128" y="192" w="64" h="48" />
							<frame x="192" y="192" w="64" h="48" />
							<frame x="256" y="192" w="64" h="48" />
							<frame x="320" y="192" w="64" h="48" />
							<frame x="384" y="192" w="64" h="48" />
							<frame x="448" y="192" w="64" h="48" />
							<frame x="512" y="192" w="64" h="48" />
							<frame x="576" y="192" w="64" h="48" />
							<frame x="640" y="192" w="64" h="48" />
							<frame x="704" y="192" w="64" h="48" />
						</death>
					</animations>
				</enemy>
				<enemy name="flyingEnemy1" Flyingtype="true" x="2555" y="185" w="48" h="48" life="2" damage="1" texture="Assets/Textures/enemies/flyingEnemy.png" gravity="false">
					<animations>
						<sleep loop="true" speed="0.075">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
						</sleep>
						<wake loop="false" speed="0.1">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
							<frame x="240" y="48" w="48" h="48" />
							<frame x="288" y="48" w="48" h="48" />
							<frame x="336" y="48" w="48" h="48" />
							<frame x="384" y="48" w="48" h="48" />
							<frame x="432" y="48" w="48" h="48" />
							<frame x="480" y="48" w="48" h="48" />
							<frame x="528" y="48" w="48" h="48" />
							<frame x="576" y="48" w="48" h="48" />
							<frame x="624" y="48" w="48" h="48" />
							<frame x="672" y="48" w="48" h="48" />
							<frame x="720" y="48" w="48" h="48" />
							<frame x="768" y="48" w="48" h="48" />
						</wake>
						<idle loop="true" speed="0.075">
							<frame x="0" y="96" w="48" h="48" />
							<frame x="48" y="96" w="48" h="48" />
							<frame x="96" y="96" w="48" h="48" />
							<frame x="144" y="96" w="48" h="48" />
							<frame x="192" y="96" w="48" h="48" />
							<frame x="240" y="96" w="48" h="48" />
							<frame x="288" y="96" w="48" h="48" />
							<frame x="336" y="96" w="48" h="48" />
							<frame x="384" y="96" w="48" h="48" />
						</idle>
						<moving loop="true" speed="0.075">
							<frame x="0" y="144" w="48" h="48" />
							<frame x="48" y="144" w="48" h="48" />
							<frame x="96" y="144" w="48" h="48" />
							<frame x="144" y="144" w="48" h="48" />
							<frame x="192" y="144" w="48" h="48" />
							<frame x="240" y="144" w="48" h="48" />
							<frame x="288" y="144" w="48" h="48" />
							<frame x="336" y="144" w="48" h="48" />
						</moving>
						<attack loop="false" speed="0.075">
							<frame x="0" y="192" w="48" h="48" />
							<frame x="48" y="192" w="48" h="48" />
							<frame x="96" y="192" w="48" h="48" />
							<frame x="144" y="192" w="48" h="48" />
							<frame x="192" y="192" w="48" h="48" />
							<frame x="240" y="192" w="48" h="48" />
							<frame x="288" y="192" w="48" h="48" />
							<frame x="336" y="192" w="48" h="48" />
						</attack>
						<damage loop="false" speed="0.075">
							<frame x="0" y="240" w="48" h="48" />
							<frame x="48" y="240" w="48" h="48" />
							<frame x="96" y="240" w="48" h="48" />
							<frame x="144" y="240" w="48" h="48" />
							<frame x="192" y="240" w="48" h="48" />
						</damage>
						<death loop="false" speed="0.075">
							<frame x="0" y="288" w="48" h="48" />
							<frame x="48" y="288" w="48" h="48" />
							<frame x="96" y="288" w="48" h="48" />
							<frame x="144" y="288" w="48" h="48" />
							<frame x="192" y="288" w="48" h="48" />
							<frame x="240" y="288" w="48" h="48" />
							<frame x="288" y="288" w="48" h="48" />
							<frame x="336" y="288" w="48" h="48" />
							<frame x="384" y="288" w="48" h="48" />
							<frame x="432" y="288" w="48" h="48" />
							<frame x="480" y="288" w="48" h="48" />
						</death>
					</animations>
				</enemy>
				<enemy name="flyingEnemy2" Flyingtype="true" x="550" y="191" w="48" h="48" life="2" damage="1" texture="Assets/Textures/enemies/flyingEnemy.png" gravity="false">
					<animations>
						<sleep loop="true" speed="0.075">
							<frame x="0" y="0" w="48" h="48" />
							<frame x="48" y="0" w="48" h="48" />
							<frame x="96" y="0" w="48" h="48" />
						</sleep>
						<wake loop="false" speed="0.1">
							<frame x="0" y="48" w="48" h="48" />
							<frame x="48" y="48" w="48" h="48" />
							<frame x="96" y="48" w="48" h="48" />
							<frame x="144" y="48" w="48" h="48" />
							<frame x="192" y="48" w="48" h="48" />
							<frame x="240" y="48" w="48" h="48" />
							<frame x="288" y="48" w="48" h="48" />
							<frame x="336" y="48" w="48" h="48" />
							<frame x="384" y="48" w="48" h="48" />
							<frame x="432" y="48" w="48" h="48" />
							<frame x="480" y="48" w="48" h="48" />
							<frame x="528" y="48" w="48" h="48" />
							<frame x="576" y="48" w="48" h="48" />
							<frame x="624" y="48" w="48" h="48" />
							<frame x="672" y="48" w="48" h="48" />
							<frame x="720" y="48" w="48" h="48" />
							<frame x="768" y="48" w="48" h="48" />
						</wake>
						<idle loop="true" speed="0.075">
							<frame x="0" y="96" w="48" h="48" />
							<frame x="48" y="96" w="48" h="48" />
							<frame x="96" y="96" w="48" h="48" />
							<frame x="144" y="96" w="48" h="48" />
							<frame x="192" y="96" w="48" h="48" />
							<frame x="240" y="96" w="48" h="48" />
							<frame x="288" y="96" w="48" h="48" />
							<frame x="336" y="96" w="48" h="48" />
							<frame x="384" y="96" w="48" h="48" />
						</idle>
						<moving loop="true" speed="0.075">
							<frame x="0" y="144" w="48" h="48" />
							<frame x="48" y="144" w="48" h="48" />
							<frame x="96" y="144" w="48" h="48" />
							<frame x="144" y="144" w="48" h="48" />
							<frame x="192" y="144" w="48" h="48" />
							<frame x="240" y="144" w="48" h="48" />
							<frame x="288" y="144" w="48" h="48" />
							<frame x="336" y="144" w="48" h="48" />
						</moving>
						<attack loop="false" speed="0.075">
							<frame x="0" y="192" w="48" h="48" />
							<frame x="48" y="192" w="48" h="48" />
							<frame x="96" y="192" w="48" h="48" />
							<frame x="144" y="192" w="48" h="48" />
							<frame x="192" y="192" w="48" h="48" />
							<frame x="240" y="192" w="48" h="48" />
							<frame x="288" y="192" w="48" h="48" />
							<frame x="336" y="192" w="48" h="48" />
						</attack>
						<damage loop="false" speed="0.075">
							<frame x="0" y="240" w="48" h="48" />
							<frame x="48" y="240" w="48" h="48" />
							<frame x="96" y="240" w="48" h="48" />
							<frame x="144" y="240" w="48" h="48" />
							<frame x="192" y="240" w="48" h="48" />
						</damage>
						<death loop="false" speed="0.075">
							<frame x="0" y="288" w="48" h="48" />
							<frame x="48" y="288" w="48" h="48" />
							<frame x="96" y="288" w="48" h="48" />
							<frame x="144" y="288" w="48" h="48" />
							<frame x="192" y="288" w="48" h="48" />
							<frame x="240" y="288" w="48" h="48" />
							<frame x="288" y="288" w="48" h="48" />
							<frame x="336" y="288" w="48" h="48" />
							<frame x="384" y="288" w="48" h="48" />
							<frame x="432" y="288" w="48" h="48" />
							<frame x="480" y="288" w="48" h="48" />
						</death>
					</animations>
				</enemy>
			</enemies>
			<attack gravity="false" w="32" h="32" damage="1" texture="Assets/Textures/attack.png">
				<animation>
					<idle loop="true" speed="0.1">
						<frame x="0" y="0" w="32" h="32" />
						<frame x="32" y="0" w="32" h="32" />
						<frame x="64" y="0" w="32" h="32" />
						<frame x="96" y="0" w="32" h="32" />
						<frame x="128" y="0" w="32" h="32" />
					</idle>
				</animation>
			</attack>
			<checkpoint w="48" h="48" texture="Assets/Textures/checkpoint.png">
				<animations>
					<idle loop="true" speed="0">
						<frame x="0" y="0" w="48" h="48" />
					</idle>
					<active loop="true" speed="0.05">
						<frame x="144" y="48" w="48" h="48" />
						<frame x="192" y="48" w="48" h="48" />
						<frame x="240" y="48" w="48" h="48" />
						<frame x="144" y="96" w="48" h="48" />
						<frame x="192" y="96" w="48" h="48" />
						<frame x="240" y="96" w="48" h="48" />
						<frame x="144" y="144" w="48" h="48" />
						<frame x="192" y="144" w="48" h="48" />
						<frame x="240" y="144" w="48" h="48" />
						<frame x="144" y="192" w="48" h="48" />
						<frame x="192" y="192" w="48" h="48" />
						<frame x="240" y="192" w="48" h="48" />
					</active>
				</animations>
			</checkpoint>
		</entities>
	</scene>
</config>
